doctype html
html
  head
    title Wanted Boards
    link(rel="stylesheet" type="text/css" href="/styles/ui.css")
  body
    nav(class="box-container")
      div(id="app-name") Wanted Boards
      div(id="board")
        div(id="relative-container")
          div(id="div-dropdown")= title
          div(id="dropdown")
            for board in boards
              form(method="get" action="./"+board)
                button= board

      div(id="username")= username

    div(id="boards-area")

      div(class="wanted-board" id="todo")
        h2 Todo
        for element in tables.Todo
          div(class="wanted-element")= element
        form(class="add-struct" method="post" action="/"+username+"/"+title+"/update")
          textarea(class="add-text" placeholder="Add text for a new task" name="text")
          input(type="text" class="table-name" value="Todo" name="table")
          button(class="add-btn") Add

      div(class="wanted-board" id="doing")
        h2 Doing
        for element in tables.Doing
          div(class="wanted-element")= element
        form(class="add-struct" method="post" action="/"+username+"/"+title+"/update")
          textarea(class="add-text" placeholder="Add text for a new task" name="text")
          input(type="text" class="table-name" value="Doing" name="table")
          button(class="add-btn") Add

      div(class="wanted-board" id="done")
        h2 Done
        for element in tables.Done
          div(class="wanted-element")= element
        form(class="add-struct" method="post" action="/"+username+"/"+title+"/update")
          textarea(class="add-text" placeholder="Add text for a new task" name="text")
          input(type="text" class="table-name" value="Done" name="table")
          button(class="add-btn") Add
